<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <style>
        #num-question-btn{
            margin-top:10px;
        }
        a,a:hover{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav style="background-color: #2e6da4;width:100%;color:white">
    <div class="row">
    <span class="logo navbar-brand pull-left">
        Quiz !t
    </span>
            <span class="col-sm-offset-4">
                <span class="glyphicon glyphicon-user"></span>
                <span>{{ request.user.username }}</span>
                <a href="/quiz/logout/" id="log-out" style="text-decoration: none;color:white">log out</a>
            </span>
            <span class="col-sm-4"></span>
    </div>
</nav>
    <div id="exam_list" class="text-center center-block">
        <span class="row"></span>
        <div class="row">
            <a href="#" class="add_exam">
                <div class="panel panel-default col-sm-2 col-sm-offset-5">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon glyphicon-arrow-down" style="display:none"></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="row" id="show-exam-form" style="display: none">
            <div class="panel panel-default col-sm-6 col-sm-offset-3">
                <div class="panel-body">
                    <form name="exam-form" id="exam-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-6" name="exam_name" placeholder="Exam Name"/>
                        </div>
                        <input type="hidden" class="form-control" name="user" value="{{ request.user.id }}" />
                            <div class="form-group">
                                <button class="btn btn-default" id="exam-form-submit" type="submit">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="add_questions" style="display:none">
        <span class="row"></span>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <input type="number" id="question-no" class="form-control" placeholder="Number Of Questions">
            </div>
        </div>
        <div class="row">
            <button class="btn btn-default btn-lg center-block" id="num-question-btn"><span class="glyphicon glyphicon-menu-down"></span></button>
        </div>
    </div>
    <div id="read-questions" style="display:none">
        <span class="row"></span>
        <div class="row question">
            <form name="question-form" id="question-form">
                {% csrf_token %}
			<div class="panel panel-default col-sm-8 col-sm-offset-2">
				<div class="panel-heading h2">
					<input type="text" name="question" class="form-control" placeholder="Question"/>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item"><span class="col-sm-offset-2"><input type="text" placeholder="1" class="form-control"  name="option1"/></span></li>
						<li class="list-group-item"><span class="col-sm-offset-2"><input type="text" placeholder="2" class="form-control" name="option2" /></span></li>
						<li class="list-group-item"><span class="col-sm-offset-2"><input type="text" placeholder="3" class="form-control" name="option3" /></span></li>
						<li class="list-group-item"><span class="col-sm-offset-2"><input type="text" placeholder="4" class="form-control" name="option4" /></span></li>
					</ul>
					<button class="btn btn-default center-block" type="submit"><span class="glyphicon glyphicon-forward" id="icon-span"></span></button>
				</div>
                <div class="panel-footer">
                    <span class="col-sm-offset-2"><input type="text" class="form-control" name="answer" placeholder="answer"/></span>
                </div>
			</div>
            </form>
		</div>
    </div>
    <div class="row" id="question-display" style="display:none">
        <span class="row"></span>
			<div class="panel panel-default col-sm-8 col-sm-offset-2">
				<div class="panel-heading h2 question-place">

				</div>
				<div class="panel-body">
					<ul class="list-group">
						<a href="#" class="select-option"><li class="list-group-item h3"><span class="glyphicon glyphicon-unchecked col-sm-offset-1"></span><span class="col-sm-offset-2 option option1-place"></span></li></a>
						<a href="#" class="select-option"><li class="list-group-item h3"><span class="glyphicon glyphicon-unchecked col-sm-offset-1"></span><span class="col-sm-offset-2 option option2-place"></span></li></a>
						<a href="#" class="select-option"><li class="list-group-item h3"><span class="glyphicon glyphicon-unchecked col-sm-offset-1"></span><span class="col-sm-offset-2 option option3-place"></span></li></a>
						<a href="#" class="select-option"><li class="list-group-item h3"><span class="glyphicon glyphicon-unchecked col-sm-offset-1"></span><span class="col-sm-offset-2 option option4-place"></span></li></a>
                        <input type="hidden" id="option-answer" value="" />
					</ul>
					<button class="btn btn-default" id="verify"><span class="before">Verify</span></span><span style="display:none" class="glyphicon glyphicon-ok-circle after-ok"></span><span style="display:none" class="glyphicon glyphicon-remove after-not-ok"></span></button>
					<button class="btn btn-default pull-right" id="after"><span class="before">Skip</span><span style="display:none" class="glyphicon glyphicon-forward after"></span></button>
				</div>
			</div>
		</div>
        <div style="display:none" class="jumbotron text-center" id="score">
            <p>Your Score is <span id="count"></span> out of <span id="total"></span></p>
            <button class="btn btn-default exit-btn">exit</button>
        </div>
    <div id="no-questions" class="jumbotron text-center" style="display:none">
        <p>Sorry! currently there are no questions in this exam</p>
        <button class="btn btn-default exit-btn">exit</button>
    </div>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <script>
        function template(id,name)
        {
            return "<div class='row exam-panel'>"+
                    "<a href='#'><div class='panel panel-default col-sm-4 col-sm-offset-4'>"+
                    "<div class='exam_template panel-body' id="+id+">"+
                    name+
                    "</div></div></a></div>";
        }
        $.get("/quiz/api/exam/",function(data,status){
            for(i=0;i<data.length;i++)
            {
                //alert(i);
                $("#exam_list").append(template(data[i].id,data[i].name));
            }
        });
    </script>
</body>
</html>